

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between the stats and grid */
}


.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Make sure it's above other content inside the container */
}

.button-wrapper{
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #c1d1c1;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  
}



.stats-tables-container {
  display: flex;
  flex-wrap: wrap; /* allows responsive stacking on smaller screens */
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Individual table wrapper */
.table-wrapper {
  flex: 1 1 48%;
  min-width: 300px;
}

/* Ensure mat-tables stretch full width */
.mat-elevation-z8 {
  width: 100%;
  margin-top: 1rem;
}

/* Search section styling */
.search-section {
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
}

.search-box {
  width: 100%;
  margin-bottom: 1rem;
}

.search-results {
  overflow-x: auto;
  max-height: 300px;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1rem; 
}



.refresh-button {
  padding: 20px 120px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #24588c;
  color: white;
  border: none;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.refresh-button mat-icon {
  font-size: 28px;

}


/* Flat hover effect with a slight lift */
.refresh-button:hover {
  background-color: #125ea6; /* darker blue */
  transform: scale(1.03);
}

/* Optional: focus effect */
.refresh-button:focus {
  outline: none;
  background-color: #125ea6;
}

/* Shared table styles */
.search-results table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
}

.search-results thead {
  background-color: #f9f9f9;
}

.search-results th,
.search-results td {
  padding: 0.3rem 0.5rem;
  border: 1px solid #f0f0f0;
  text-align: left;
  vertical-align: top;
}

/* Optional: hover effect */
.search-results tbody tr:hover {
  background-color: #f5f5f5;
}

/* Optional: visually distinguish Postgres vs Neo4j results if needed */
.search-results h3 {
  margin-top: 0;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3rem;
}

.table-section {
  margin-bottom: 32px; /* or any space you like */
}
