@font-face {
  font-family: 'Karst ExtraBold';
  src: url('/assets/karst.extrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'World of Water';
  src: url('/assets/world-of-water.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
