.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* space between the stats and grid */
}

.custom-grid {
    padding: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "hero thumb1"
        "thumb2 stats"
        "thumb3 thumb4";
    gap: 2rem;
}

.grid-item {
  padding: 2rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.grid-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

.image-figure {
  text-align: center;
  margin: 0;
}

.image-figure img {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.image-figure figcaption {
  margin-top: 6px;
  font-size: 0.85rem;
  color: #444;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.stats-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  min-height: 300px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.stats-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats-section {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stats-section h2 {
  margin: 0 0 0.5rem 0;
}

.table-scroll-container {
  overflow-y: auto;
  flex: 1;
  max-height: 300px;
  border-top: 1px solid #ddd;
}


.table-scroll-container thead th {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  z-index: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}
