
<div class="main-wrapper">
  <div class = "instructions">
  <h1>Pedigree Summary & Descriptive Statistics <mat-icon> show_chart</mat-icon></h1>
      <p>Descriptive and summary statistics for the Pedigree Dataset are displayed here.</p>
      <p>Scroll down to view statistics, or to use the Clone ID Search feature.</p>

  </div>
  
<div class="loading-overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
    <div style="margin-top: 10px; font-size: 1.2rem; color: #333;">Loading Statistics...</div>
</div>
<div class="stats-container"*ngIf="!loading">

  <!-- Left Column -->
  <div class="stats-column"*ngIf="!loading">


  <div class="stats-section">
    <h2>Plants per Generations</h2>
      <p>Number of plants in each generation. Generation defined as 1+ highest parental generation.</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Generation</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of genCount">
              <td>{{ item.Var1 }}</td>
              <td>{{ item.Freq }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

        <div class="stats-section">
      <h2>Parental Records</h2>
      <p>Number of individual used as breeding parents (offspring & founders).</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Metric</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of summaryCount">
              <td>{{ item.Metric }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Section 1 -->
    <div class="stats-section">
      <h2>Entry Counts by Sibling</h2>
      <p>Occurance of recorded siblings and number of unique parents. Defined by the presence of sibling nomeclature (A-F).</p>
      <p>Siblings are considered Year-Wide-Siblings (YWS)(Same parents, same year)</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Sibling</th>
              <th>Entry Count</th>
              <th>Unique Parent Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of siblingCount">
              <td>{{ item.Sibling }}</td>
              <td>{{ item.Entry_Count }}</td>
              <td>{{ item.Unique_Parent_Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Section 4 -->
    <div class="stats-section">
      <h2>Twin Statistics</h2>
      <p>Occurance of twins within the dataset population. Defined by the presence of twin nomeclature (1/2).</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of twinCount">
              <td>{{ item.Description }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="stats-section">
      <h2>Parents Used Per Generation</h2>
      <p>Overlapping number of parents used for each generation. Details which generations used the same breeding indviduals.</p>
      <div
          *ngFor="let item of parentVenn"
          class="grid-item"
          [ngStyle]="{ 'grid-area': item.gridArea }"
        >
      <figure *ngIf="item.url" class="image-figure">
      <figcaption>
        <strong>{{ item.title || item.name }}</strong><br />
      </figcaption>
      <img 
        [src]="item.url" 
        [alt]="item.name" 
        [ngClass]="getImageClass(item.name)" 
        (click)="openModal(item.url)" 
      />
      </figure>
      </div>
    </div>
    </div>

  <!-- Right Column -->
  <div class="stats-column">

    <div class="stats-section">
      <h2>Ranked Breeding Clones</h2>
      <p>The individuals that contributed the most to breeding events - Highest incidence of being a parent</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rankedCount">
              <td>{{ item.Var1 }}</td>
              <td>{{ item.Freq }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="stats-section">
      <h2>Crosses by Year</h2>
      <p>Frequency of Offspring records detailed for each year (obtained from Clone ID).</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of yearCount">
              <td>{{ item.year }}</td>
              <td>{{ item.entry_count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
          *ngFor="let item of statsImages"
          class="grid-item"
          [ngStyle]="{ 'grid-area': item.gridArea }"
        >
      <figure *ngIf="item.url" class="image-figure">
      <iframe
      *ngIf="item.type === 'html' && item.url"
      [src]="item.url | safeUrl"
      width="100%"
      height="400"
      frameborder="0"
      ></iframe>
      </figure>
    </div>
    </div>

    <div class="stats-section">
      <h2>QC & Preprocessing Statistics</h2>
      <p>Number of ID/Entries re-formatted on Upload</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Record Type</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of formattedCount">
              <td>{{ item.Metric }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="stats-section">
      <h2>Years of breeding by Generation</h2>
      <p>Years where breeding took place for each generation.</p>
          <div class="plot-selector" style="margin-bottom: 10px;">
      <button
      mat-raised-button
      [color]="selectedVennplot === 'default' ? 'primary' : null"
      (click)="selectedVennplot = 'default'">
      Default
    </button>
    <button
      mat-raised-button
      [color]="selectedVennplot === 'labelled' ? 'primary' : null"
      (click)="selectedVennplot = 'labelled'">
      Labelled
    </button>
    <div *ngIf="selectedVennplot === 'default'">
    <div
        *ngFor="let item of yearVenn"
        class="grid-item"
        [ngStyle]="{ 'grid-area': item.gridArea }"
      >
      <figure *ngIf="item.url" class="image-figure">
      <figcaption>
        <strong>{{ item.title || item.name }}</strong><br />
      </figcaption>
      <img 
        [src]="item.url" 
        [alt]="item.name" 
        [ngClass]="getImageClass(item.name)" 
        (click)="openModal(item.url)" 
      />
    </figure>
      </div></div>
      <div *ngIf="selectedVennplot === 'labelled'">
    <div
        *ngFor="let item of storedVenn"
        class="grid-item"
        [ngStyle]="{ 'grid-area': item.gridArea }"
      >
      <figure *ngIf="item.url" class="image-figure">
      <figcaption>
        <strong>{{ item.title || item.name }}</strong><br />
      </figcaption>
      <img 
        [src]="item.url" 
        [alt]="item.name" 
        [ngClass]="getImageClass(item.name)" 
        (click)="openModal(item.url)" 
      />
    </figure>

      </div></div>
     </div>
    </div>
      
  </div>


    <!-- Modal Viewer -->
  <div class="modal" *ngIf="selectedImageUrl" (click)="closeModal()">
    <img [src]="selectedImageUrl" alt="Enlarged Image" />
  </div>
</div>
  
</div>

        <div class="search-section">
          <h3>Search Database Entries</h3>
          <p>Search for full/partial Clone ID e.g. "SFS" or "MRT1"</p>

          <!-- Search Input -->
          <mat-form-field appearance="outline" class="search-box">
            <mat-label><mat-icon>search</mat-icon>Search by any field</mat-label>
            <input matInput [(ngModel)]="searchInput" placeholder="Type any ID or parent..." />
          </mat-form-field>

          <button mat-stroked-button color="primary" (click)="performSearch()">Search</button>

          <!-- Angular Material Table -->
        <div class = table-section >
            <div class="loading-overlay" *ngIf="searchloading">
            <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
            <div style="margin-top: 10px; font-size: 1.2rem; color: #333;">Loading Searched Results...</div>
          </div>
          <div *ngIf="groupedPGSearch.length > 0 && !searchloading"  style="max-height: 400px; overflow-y: auto;">
            <h3>Aggregated Postgres Results</h3>

            <table mat-table [dataSource]="groupedPGSearch" multiTemplateDataRows>
        
        <!-- expand toggle -->
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="toggleRow(element)">
              <mat-icon>{{ expandedElement === element ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- female_parent -->
        <ng-container matColumnDef="female_parent">
          <th mat-header-cell *matHeaderCellDef>Female Parent</th>
          <td mat-cell *matCellDef="let element">{{ element.female_parent }}</td>
        </ng-container>

        <!-- male_parent -->
        <ng-container matColumnDef="male_parent">
          <th mat-header-cell *matHeaderCellDef>Male Parent</th>
          <td mat-cell *matCellDef="let element">{{ element.male_parent }}</td>
        </ng-container>

        <!-- year -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>

        <!-- entries -->
        <ng-container matColumnDef="entries">
          <th mat-header-cell *matHeaderCellDef>No. of Entries</th>
          <td mat-cell *matCellDef="let element">{{ element.items?.length }}</td>
        </ng-container>

        <!-- expandedDetail -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="groupedSearchColumns.length">
            <div *ngIf="element.items?.length">
              <strong>Entries:</strong>
              <ul>
                <li *ngFor="let item of element.items">
                  ID: {{ item.clone_id }}, Female Parent: {{ item.correct_female }}, Male Parent: {{ item.correct_male }}, Year: {{ item.year }}, Generation: {{ item.generation }},
                </li>
              </ul>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="groupedSearchColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: groupedSearchColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [style.display]="expandedElement === row ? 'table-row' : 'none'"></tr>

      </table>

    </div>
  </div>

      <!-- Neo4j Search Results Table -->
  <div class = table-section >
    <div *ngIf="neo4jSearch.data.length > 0 && !searchloading" style="max-height: 400px; overflow-y: auto;">
      <h3>Neo4j Results</h3>

      <table mat-table [dataSource]="neo4jSearch" matSort #neo4jSort="matSort">


        <!-- Source -->
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
          <td mat-cell *matCellDef="let item">{{ item.source?.id }}</td>
        </ng-container>

        <!-- Relation -->
        <ng-container matColumnDef="relation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Relation</th>
          <td mat-cell *matCellDef="let item">{{ item.relation }}</td>
        </ng-container>

        <!-- Target -->
        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Target</th>
          <td mat-cell *matCellDef="let item">{{ item.target?.id }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="neo4jSearchColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: neo4jSearchColumns;"></tr>

      </table>
    </div>
  </div>

</div>

