
<div class="main-wrapper">
  <div class = "instructions">
  <h1>Summary & Descriptive Statistics <mat-icon> show_chart</mat-icon></h1>
      <p>Descriptive and summary statistics for the Pedigree Dataset are displayed here</p>

  </div>
  
<div class="loading-overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
    <div style="margin-top: 10px; font-size: 1.2rem; color: #333;">Loading Statistics...</div>
</div>
<div class="stats-container"*ngIf="!loading">

  <!-- Left Column -->
  <div class="stats-column"*ngIf="!loading">


  <div class="stats-section">
    <h2>Plants per Generations</h2>
      <p>Number of plants in each generation</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Generation</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of genCount">
              <td>{{ item.Var1 }}</td>
              <td>{{ item.Freq }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

        <div class="stats-section">
      <h2>Parental Records</h2>
      <p></p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Metric</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of summaryCount">
              <td>{{ item.Metric }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Section 1 -->
    <div class="stats-section">
      <h2>Entry Counts by Sibling</h2>
      <p>Occurance of recorded siblings and number of unique parents. Defined by the presence of sibling nomeclature (Aa-Ff)</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Sibling</th>
              <th>Entry Count</th>
              <th>Unique Parent Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of siblingCount">
              <td>{{ item.Sibling }}</td>
              <td>{{ item.Entry_Count }}</td>
              <td>{{ item.Unique_Parent_Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Section 4 -->
    <div class="stats-section">
      <h2>Twin Statistics</h2>
      <p>Occurance of twins within the dataset population. Defined by the presence of twin nomeclature (1/2).</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Description</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of twinCount">
              <td>{{ item.Description }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="stats-section">
      <h2>Years of breeding</h2>
      <p>Years where breedinging took place for each generation.</p>
      <div
          *ngFor="let item of yearVenn"
          class="grid-item"
          [ngStyle]="{ 'grid-area': item.gridArea }"
        >
      <figure *ngIf="item.url" class="image-figure">
      <figcaption>
        <strong>{{ item.title || item.name }}</strong><br />
      </figcaption>
      <img 
        [src]="item.url" 
        [alt]="item.name" 
        [ngClass]="getImageClass(item.name)" 
        (click)="openModal(item.url)" 
      />
      </figure>
      </div>
    </div>
    </div>

  <!-- Right Column -->
  <div class="stats-column">

    <div class="stats-section">
      <h2>Ranked No. of Offspring</h2>
      <p>The individuals that contributed the most to breeding events - Highest incidence of being a parent</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rankedCount">
              <td>{{ item.Var1 }}</td>
              <td>{{ item.Freq }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="stats-section">
      <h2>Count by Year</h2>
      <p>Frequency of Offspring bred for each year</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Year</th>
              <th>No. Offspring</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of yearCount">
              <td>{{ item.year }}</td>
              <td>{{ item.entry_count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
          *ngFor="let item of statsImages"
          class="grid-item"
          [ngStyle]="{ 'grid-area': item.gridArea }"
        >
      <figure *ngIf="item.url" class="image-figure">
      <iframe
      *ngIf="item.type === 'html' && item.url"
      [src]="item.url | safeUrl"
      width="100%"
      height="400"
      frameborder="0"
      ></iframe>
      </figure>
    </div>
    </div>

    <div class="stats-section">
      <h2>Formatting Statistics</h2>
      <p>Number of ID/Entries re-formatted on Upload</p>
      <div class="table-scroll-container">
        <table>
          <thead>
            <tr>
              <th>Record Type</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of formattedCount">
              <td>{{ item.Metric }}</td>
              <td>{{ item.Count }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="stats-section">
      <h2>Parents Used Per Generation</h2>
      <p>Overlapping parents used for each generation. Details which generations used the same breeding indviduals.</p>
        <div
        *ngFor="let item of parentVenn"
        class="grid-item"
        [ngStyle]="{ 'grid-area': item.gridArea }"
      >
      <figure *ngIf="item.url" class="image-figure">
      <figcaption>
        <strong>{{ item.title || item.name }}</strong><br />
      </figcaption>
      <img 
        [src]="item.url" 
        [alt]="item.name" 
        [ngClass]="getImageClass(item.name)" 
        (click)="openModal(item.url)" 
      />
    </figure>

      </div>
    </div>
  </div>
  


    <!-- Modal Viewer -->
  <div class="modal" *ngIf="selectedImageUrl" (click)="closeModal()">
    <img [src]="selectedImageUrl" alt="Enlarged Image" />
  </div>
</div>

