  
<div class="main-content vertical-split content-wrapper">
      <!-- Loading overlay -->
  <div class="loading-overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
    <div style="margin-top: 10px; font-size: 1.2rem; color: #333;">Loading data...</div>
  </div>
    <!-- Bottom two side-by-side containers -->
  <div class="bottom-section two-panels">
      <!-- Upload New Dataset -->
      <div class="panel">
        <button mat-raised-button color="primary" (click)="getRainfallData()" >Rainfall Analysis</button>
      </div>
      <div class="panel">
        <button mat-raised-button color="primary" (click)="getTempData()" >Temperature Analysis</button>
      </div>
</div>

<div class="custom-grid" *ngIf="selectedAnalysis === 'rainfall'">
  <div
    *ngFor="let item of imagesRainfall"
    class="grid-item"
    [ngStyle]="{ 'grid-area': item.gridArea }"
  >
    <img *ngIf="item.url" [src]="item.url" [alt]="item.name" [ngClass]="getImageClass(item.name)" (click)="openModal(item.url)" />
    <div *ngIf="!item.url" class="stats-box">
      <h3>Rainfall Statistics</h3>
      <p>Here will display any relevant statistics and comments for Rainfall Analysis.</p>
    </div>
  </div>
</div>

<div class="custom-grid" *ngIf="selectedAnalysis === 'temperature'">
  <div
    *ngFor="let item of imagesTemp"
    class="grid-item"
    [ngStyle]="{ 'grid-area': item.gridArea }"
  >
    <img *ngIf="item.url" [src]="item.url" [alt]="item.name" [ngClass]="getImageClass(item.name)" (click)="openModal(item.url)" />
    <div *ngIf="!item.url" class="stats-box">
      <h3>Temperature Statistics</h3>
      <p>Here will display any relevant statistics and comments for Temperature Analysis.</p>
    </div>
  </div>
</div>
</div>

<div class="modal" *ngIf="selectedImageUrl" (click)="closeModal()">
  <img [src]="selectedImageUrl" alt="Enlarged Image" />
</div>
