<div class="main-wrapper">

<div class="loading-overlay" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" diameter="60" color="primary"></mat-progress-spinner>
    <div style="margin-top: 10px; font-size: 1.2rem; color: #333;">Loading data...</div>
</div>


  <div class = "title-wrapper">

  <h1>Kinship Analysis</h1>
    <mat-accordion class="kinship-bar">
  <mat-expansion-panel [expanded]="true" class="custom-kinship-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Analysis Options
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Two-column layout -->
    <div class="two-column-panel">
      <!-- Left Panel -->
      <div class="column">
        <h3>Retrieve Stored Kinship</h3>
        <p></p>
        <p></p>
        <p></p>
        <button mat-raised-button color="primary" (click)="getExistingKinship()">
          Use stored Kinship Matrix Data
        </button>
      </div>

      <!-- Right Panel -->
      <div class="column">
        <h3>Perform New Kinship Matrix Calculation</h3>
        <label for="email">Enter your email to recieve notifications:</label>
        <input
          matInput
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="user@example.com"
        />
        <br /><br />
        <button mat-raised-button color="accent" (click)="startNewAnalysis()">
          Calculate Kinship Matrix
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

    <mat-accordion class="help-bar">
  <mat-expansion-panel class="custom-help-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Help
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p>Here you can either perform a new kinship matrix calculation for the uploaded pedigree data, or load the stored kinship matrix analysis and plots.</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
  </div>




<div class="custom-grid">
<div
  *ngFor="let item of images"
  class="grid-item"
  [ngStyle]="{ 'grid-area': item.gridArea }"
>
  <!-- Render image -->
  <img
    *ngIf="item.type === 'image' && item.url"
    [src]="item.url"
    [alt]="item.name"
    [ngClass]="getImageClass(item.name)"
    (click)="openModal(item.url)"
  />

  <!-- Render HTML (e.g., interactive Plotly) in iframe -->
  <iframe
    *ngIf="item.type === 'html' && item.url"
    [src]="item.url | safeUrl"
    width="100%"
    height="600"
    frameborder="0"
  ></iframe>
  <div *ngIf="!item.url" class="stats-box">
    <h3>Kinship Statistics</h3>
    <p>Here will display any relevant statistics and comments for Kinship Matrix Calculated.</p>
    <p>Time taken: </p>
    <p>Matrix Size: </p>
    <p>File Size: </p>
  </div>

</div>
</div>

<div class="modal" *ngIf="selectedImageUrl" (click)="closeModal()">
  <img [src]="selectedImageUrl" alt="Enlarged Image" />
</div>
</div>